mixin Widget_Blog(cond, title)
  -
    cond = cond || 'true'
    title = title || 'no title'
    var type = 'Blog'
    var id = type + newID()
  b:widget(
    id=id
    locked='false'
    title=title
    type=type
    version='1')

    b:widget-settings
      b:widget-setting(name='showDateHeader') false
      b:widget-setting(name='style.textcolor') #000000
      b:widget-setting(name='showShareButtons') false
      b:widget-setting(name='authorLabel') By
      b:widget-setting(name='showCommentLink') false
      b:widget-setting(name='style.urlcolor') #008000
      b:widget-setting(name='showAuthor') false
      b:widget-setting(name='style.linkcolor') #0000ff
      b:widget-setting(name='style.unittype') TextAndImage
      b:widget-setting(name='style.bgcolor') #ffffff
      b:widget-setting(name='showAuthorProfile') false
      b:widget-setting(name='style.layout') 1x1
      b:widget-setting(name='showLabels') false
      b:widget-setting(name='showLocation') false
      b:widget-setting(name='showTimestamp') false
      b:widget-setting(name='postsPerAd') 1
      b:widget-setting(name='showBacklinks') false
      b:widget-setting(name='style.bordercolor') #ffffff
      b:widget-setting(name='showInlineAds') false
      b:widget-setting(name='showReactions') false

    b:includable#main(var='top')
      b:if(cond!=cond)
        b:include(data='top' name='status-message')/
        b:loop(values='data:posts' var='post')
          b:include(data='post' name='post')/

    b:includable#post(var='post')

      div(itemprop='blogPost',itemscope='itemscope',itemtype='http://schema.org/BlogPosting')

        b:if(cond!='data:post.firstImageUrl')
          meta(expr:content!='data:post.firstImageUrl',itemprop='image_url')/

        meta(expr:content!='data:blog.blogId', itemprop='blogId')/
        meta(expr:content!='data:post.id', itemprop='postId')/

        b:if(cond!='data:post.title')
          h3.post-title.entry-title(itemprop='name')
            #{'data:post.title'}/

        div.post-body.entry-content(expr:itemprop!='(data:blog.metaDescription ? &quot;&quot; : &quot;description &quot;) + &quot;articleBody&quot;')
          #{'data:post.body'}/

        div.post-footer
          div.post-footer-line.post-footer-line-1
            span.post-timestamp
              #{'data:top.timestampLabel'}/

    b:includable#status-message
      b:if(cond!='data:navMessage')
        p.alert.alert-primary
          data:navMessage/
