mixin Widget_HTML(id, title, cond)
  - var cond = cond || 'true'
  b:widget(
    id=id
    locked="false"
    title=title
    type='HTML'
    version='1')

    b:widget-settings
      b:widget-setting(name='content')
        block

    b:includable#main
      b:if(cond!=cond)
        data:content/
