mixin Widget_HTML(id, title)
  b:widget(
    id=id
    locked="false"
    title=title
    type='HTML'
    version='1')

    b:widget-settings
      b:widget-setting(name='content')
    b:includable#main
      data:content/
