mixin Widget_Label(id, title, cond)
  - var cond = cond || 'true'
  b:widget(
    id=id
    locked='false'
    title=title
    type='Label'
    version='1')

    b:widget-settings
      b:widget-setting(name='sorting') ALPHA
      b:widget-setting(name='display') LIST
      b:widget-setting(name='selectedLabelsList')/
      b:widget-setting(name='showType') ALL
      b:widget-setting(name='showFreqNumbers') false

    b:includable#main
      b:if(cond!=cond)
        h2.h5 詳細カテゴリー
        ul.row.list-unstyled.p-0.my-2
          b:loop(values='data:labels' var='label')
            li.col-6.my-1
              a.d-block(expr:href!='data:label.url')
                #{'data:label.name'}/
                b:if(cond!='data:showFreqNumbers')
                  span(class='label-count' dir='ltr')
                    | (#[#{'data:label.count'}/])
