mixin Widget_PageList (id, title)
  b:widget(
    id=id
    locked='false'
    title=title
    type='PageList'
    version='1')

    b:widget-settings
      b:widget-setting(name='pageListJson')
        | <![CDATA[
        include ../config/page-list.json
        | ]]>
      b:widget-setting(name='homeTitle') ホーム

    b:includable#main
      div.widget-content
        b:if(cond!='data:mobile')
          select(expr:id='data:widget.instanceId + &quot;_select&quot;')
            b:loop(values='data:links' var='link')
              option(expr:value!='data:link.href')
                b:attr(cond!='data:link.isCurrentPage' name='selected' value='selected')/
                #{'data:link.title'}/
          span.pagelist-arrow
            | &amp;#9660;
          b:else/
          ul
            b:loop(values='data:links' var='link')
              li
                b:class(cond!='data:link.isCurrentPage' name='selected')/
                a(expr:href!='data:link.href')
                  #{'data:link.title'}/
