mixin Widget_PageList(cond, title)
  -
    cond = cond || 'true'
    title = title || 'no title'
    var type = 'PageList'
    var id = type + newID()
  b:widget(
    id=id
    locked='false'
    title=title
    type='PageList'
    version='1')

    b:widget-settings
      b:widget-setting(name='pageListJson')
        | <![CDATA[
        include ../config/page-list.json
        | ]]>
      b:widget-setting(name='homeTitle') ホーム

    b:includable#main
      b:if(cond!=cond)
        nav.navbar.navbar-light.bg-light.navbar-expand.border.mb-4
          ul.navbar-nav
            b:loop(values='data:links' var='link')
              li.nav-item
                a.nav-link(expr:href!='data:link.href')
                  #{'data:link.title'}/
