mixin Widget_PopularPosts(id, title, cond)
  - var cond = cond || 'true'
  b:widget(
    id=id
    locked='false'
    title=title
    type='PopularPosts'
    version='1')

    b:widget-settings
      b:widget-setting(name='numItemsToShow') 10
      b:widget-setting(name='showThumbnails') true
      b:widget-setting(name='showSnippets') true
      b:widget-setting(name='timeRange') LAST_YEAR

    b:includable#main
      b:if(cond!=cond)
        h2.h5.mb-2 人気の記事
        ul.row.list-unstyled.p-0.mb-4
          b:loop(values='data:posts' var='post')
            li.col-3.mb-2
              a(expr:href='data:post.href')
                div.p-2.bg-white.rounded.mb-2
                  b:if(cond!='data:post.featuredImage.isResizable or data:post.thumbnail')
                    b:with(
                      value!='data:post.featuredImage.isResizable ? resizeImage(data:post.featuredImage, 72, &quot;1:1&quot;) : data:post.thumbnail'
                      var='image')
                      img.w-100(expr:src!='data:image')/
                    b:else/
                    img.w-100(src='https://dummyimage.com/512/EEE/CCC.png&text=No%20Thumbnail')
                small #[#{'data:post.title'}/]
